<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [150, 180]
  Dashing.numColumns = 8
});
</script>

<% content_for(:title) { "Tales From the Crypt" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="status" data-view="Text" data-title="Build Status"
      data-text="Unknown"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="last-build" data-view="Livestamp" data-title="Last Build"
      data-text="Unknown"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="test-status" data-view="Twolist" data-unordered="true"
      data-title="Test Status"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="last-commit" data-view="List" data-unordered="true"
      data-title="Last Commit"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="build-time" data-view="Text" data-title="Build Time"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="trigger-build" data-view="Buildtrigger"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="build-log" data-view="Iframe" style="background-color:
      #ffffff"
      data-url="http://cryptkeeper-build.rosemary.home.myazuresky.com/"></div>
    </li>
  </ul>
</div>
